<ion-view hide-nav-bar="true" class="background">

	<ion-header-bar align-title="centre" class="bar-calm">
		<h1 class="title">Super User</h1>
	</ion-header-bar>
	<ion-content class="has-header" ng-controller = "SuperUser">
		<ion-list>
			<ion-item>
				<button class="button button-block button-stable" ng-click="groupOwners()">Top up</button>
				<button class="button button-block button-stable" ng-click="enterShuttlesExpense()">Shuttle Expense</button>
				<button class="button button-block button-stable" ng-click="createANewUser()">Create A New User</button>
				<button class="button button-block button-stable" ng-click="changeSuperUser()">Change Super User</button>
				<button class="button button-block button-stable" ng-click="enterSaturdayCourtCost()">Saturday's Court Cost</button>
				<button class="button button-block button-stable" ng-click="enterSundayCourtCost()">Sunday's Court Cost</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>